@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');
body {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	
}
.bg-1 {
	background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);}
.bg-2 {
	background-image: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%);
}
.bg-3 {
	background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}
.bg-4 {
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.bg-6 {
	background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
}
.jumbotron-color {
    border-width: thin;
   background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    border-radius: 0px;
    border-style: solid;
}
.roboto-font100 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100 !important;
	
}
/*PROGRESS BAR*/

.progress-bar {
  width: 0;
  animation: progress 1.5s ease-in-out forwards;
} 
  .title {
    opacity: 0;
    animation: show 0.35s forwards ease-in-out 0.5s;
  }


@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} 
@keyframes show  {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*porfolio*/
.thumbnail {
	
	background-color: #353232;
	border-radius: 10px 10px 0px 0px;
	
	border-bottom: 4px solid #F44D0E;
}
.img-rounded {
	border-radius: 10px 10px 0px 0px;
}

/*SCROLLING BAR*/
 .nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
/*form*/
form {
    border-radius: 5px;
   
    color: white;
    text-align: left;
    background-color: rgba(53,88,113,1.00);
    /* [disabled]max-width: 90%;
*/
	width: 100%;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    padding: 10px 20px;
}
.row {
    max-width: 400px;
    margin: 0 auto;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="tel"], textarea, select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    border-radius: 5px;
}
label, legend {
    display: block;
    margin-bottom: 8px;
}
fieldset {
    border: none;
}
.wrap {
	text-align: center;
}
button {
	
    font-weight: 300;
    padding-top: 11px;
    padding-right: 11px;
    padding-left: 11px;
    padding-bottom: 11px;
    color: #FFF;
    background-color: #6e25d4;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 10px;
    width: 60%;
    border: 1px solid #310F5F;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 10px;
}
label.light {
    font-weight: 300;
    margin-left: 5px;
}
input[type="checkbox"] + label, input[type="radio"] + label {
    font-weight: 300;
    font-size: .85em;
    display: inline;
    padding-left: 5px;
}
input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
    font-weight: bolder;
	letter-spacing: 1px;
	
}
input[placeholder="requred"],input[placeholder=""] {
    text-align: right;
}
input[placeholder="requred"]:focus {
    text-align: left;
}
input[placeholder="requred"]:active {
    text-align: left;
    color: red;
}
/*UI elements states pseudo classes------------------*/

input:focus, textarea:focus {
    background-color: #EAE0A8;
}
input[id="zip-code"] {
    width: 50%;
}
#copyright {
    text-align: center;
}
